body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html{
    height: 100%;
    line-height: 1.8;
    color: #777;
}

.navbar-link{
    transition: 500ms;
    padding: 8px 16px !important;
}

.navbar-link i{
    padding-right: 2px;
}

.navbar-link:hover{
    background-color: rgb(207, 207, 207);
    color: black !important;
}

.navbar{
    background-color: transparent;
}

.img-parallax1{
    opacity: 0.75;
    background-image: url(../img/parallax1.jpg);
    min-height: 400px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo-header{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo-span{
    letter-spacing: 10px;
    color: #fff!important;
    background-color: #000!important;
    padding: 12px 24px!important;
    text-align: center;
    font-size: 24px;
}

.contenedor-Padre{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    text-align: center;
    color: #777
}

.contenedor-perfil{
    display: flex;
    padding: 20px 0px;
    
}

.foto-opacidad{
    opacity: 0.75;
}

.foto-opacidad:hover{
    opacity: 1;
}

.contenedor-infoFoto{
    text-align: justify;
}

.contenedorHabilidades{
    text-align: center;
}

.contenedorHabilidades p{
    letter-spacing: 13px;
    padding: 10px 0px;
    margin: 0;
    text-align: left;
    font-size: large;
}

.contenedorPorcentajePadre{
    display: flex;
    justify-content: center;
}

.contenedorPorcentaje{
    width: 100%;
    background-color: #777;
    color: aliceblue;
    padding: 5px 0px;
}